body {
  background-color: rgb(236, 239, 241);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container > div {
  margin-top: 5px;
}

.logo img {
  width: 300px;
  margin: 3px auto;
}

@media screen and (max-width: 450px) {
  .logo img {
    width: 250px;
    margin: 4px auto;
  }
}
